// Imports
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  overflow: hidden;
}

a {
  all: unset;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

// Mixins
@mixin div {
  width: 100vw;
  height: 136vh;
}

@mixin titleMiddle {
  color: rgb(238, 238, 238);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  mix-blend-mode: color-dodge;
  text-transform: uppercase;
  font-size: 80px;
  position: fixed;
  top: 29vh;
  left: 80px;
  z-index: 1;
}

// Keyframes
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// Styles
html {
  background-color: #1b1b1b;
  width: 100vw;
  overflow-y: initial;
  ::selection {
    background-color: rgb(206, 206, 206);
    color: black;
  }
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 1%, 58%);
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  #root {
    .mouseFollower {
      position: fixed;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.13) 10%,
        rgba(255, 255, 255, 0.01) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      pointer-events: none;
      filter: blur(10px);
      transform: translate(-50%, -50%);
    }
    .loader {
      width: 48px;
      height: 48px;
      display: inline-block;
      position: relative;
      &::after,
      &::before {
        content: '';
        box-sizing: border-box;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid #FFF;
        position: absolute;
        left: 0;
        top: 0;
        animation: loader 2s linear infinite;
      }
      &::after {
        animation-delay: 1s;
      }
    }
    .navbar {
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      nav {
        position: fixed;
        top: 12px;
        padding: 8px 16px;
        border-radius: 20px;
        border: 1px solid black;
        background-color: rgba(238, 238, 238, 0.5);
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        a {
          margin: 10px;
          padding: 10px;
          font-size: 20px;
          &:hover {
            color: #444444;
          }
        }
      }
    }
    .gallery {
      .initial {
        @include div;
        h1 {
          color: rgb(238, 238, 238);
          mix-blend-mode: color-dodge;
          font-size: 80px;
          margin-left: 80px;
          margin-top: 42vh;
          z-index: 1;
        }
      }
      .itemGallery {
        padding-top: 70px;
        .titleGallery {
          @include titleMiddle;
        }
        .titleGallery.visible{
          opacity: 1;
        }
        @include div;
        .imageMain {
          display: block;
          user-select: none;
          -webkit-user-drag: none;
          z-index: 0;
        }
        a:nth-child(1){
          img{
            margin-left: 20%;
            margin-top: 100px;
            width: 30vw;
            height: 50vh;
          }
        }
        a:nth-child(2){
          img{
            float: right;
            margin-right: 10%;
            width: 30vw;
            height: 50vh;
          }
        }
        a:nth-child(3){
          img{
            margin-top: 200px;
            margin-left: 10%;
            width: 30vw;
            height: 50vh;
          }
        }
      }
      //TODO agregar estilos
      #cosquin #cosquinImage,
      #pericos #pericosImage,
      #koinoYokan #koinoYokanImage,
      #ntvg #ntvgImage,
      #renga #rengaImage,
      #rataBlanca #rataBlancaImage,
      #skay #skayImage,
      #babasonicos #babasonicosImage,
      #kapanga #kapangaImage,
      #pastillasDelAbuelo #pastillasDelAbueloImage,
      #parraleños #parraleñosImage,
      #asspera #assperaImage {

      }
      .backgroundGallery{
        position: fixed;
        video{
          min-width: 100%;
          max-width: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
    }
    .galleryDetail {
      .titleDetail {
        @include titleMiddle;
          opacity: 1;
      }
      .itemDetail {
        display: inline-block;
        width: 500px;
        height: 500px;
        padding: 25px;
      }
      .loadingDetail {
        p {
          color: white;
          text-align: center;
          font-size: 40px;
          padding: 20px;
        }
      }
    }
    .footer {
      font-family: 'Playfair Display', serif;
      color: white;
      margin-top: 100px;
      hr {
        width: 97vw;
        margin: auto;
        border-radius: 20%;
      }
      .info {
        display: flex;
        div {
          width: 33vw;
          text-align: center;
          padding-top: 10px;
          hr {
            width: 25%;
            margin-top: 5px;
          }
          ul {
            padding: 0;
            li {
              margin-top: 10px;
              font-size: 18px;
            }
          }
        }
      }
      h2 {
        text-align: center;
        a {
          color: rgba(255, 255, 255, 0.6);
          transition: color 0.6s ease, filter 0.6s ease;
          &:hover {
            color: rgba(255, 255, 255, 0.9);
          }
        }
      }
    }
  }
}